<a href="https://colab.research.google.com/github/gugulothraju/gugulothraju/blob/main/01_11%2Cdic_comprehensive_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [41]:
l=[1,2,3,4,5]
d={}
for i in l:
  d[i]=i**2
else:
  print(d,type(d),sep='==>')  
print()  

l=[1,2,3,4,5]
s=[]
for i in l:
  s.append(i**2)
print(s,type(s),sep='==>')
print()
print()

l=[1,2,3,4,5]
for i in l:
   print(i**2,end=' ')
print()
print()
l=[1,2,3,4,5]
s=set()
for i in l:
  k=i**2
  s.add(k)
print(s,type(s))

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}==><class 'dict'>

[1, 4, 9, 16, 25]==><class 'list'>


1 4 9 16 25

{1, 4, 9, 16, 25} <class 'set'>

In [42]:
l=[12,15,29,65,31,46,14,89]
d={}
for i in l:
  if i%2==0:
     d[i]='even'
  else:
    d[i]='odd'
else:
  print(d)

print()
print()
l=[1,6,10,13,11]
d={}
for i in l:
  temp=[]
  for j in range(i):
    temp.append(j) 
  else:
    d[i]=temp
else:
  for key,value in d.items():
    print(key,value,sep=' : ')

{12: 'even', 15: 'odd', 29: 'odd', 65: 'odd', 31: 'odd', 46: 'even', 14: 'even', 89: 'odd'}


1 : [0]
6 : [0, 1, 2, 3, 4, 5]
10 : [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
13 : [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
11 : [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [45]:
d={1:'one', 2:'two', 3:'three',4:'four'}
print(d,id(d))
print()
d1=d.copy()
print(d1,id(d1))

{1: 'one', 2: 'two', 3: 'three', 4: 'four'} 139745077875248

{1: 'one', 2: 'two', 3: 'three', 4: 'four'} 139745077876768

In [77]:
d1[2]=2
print(d)
print()
print(d1)
#get
print()
l=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
for i in l:
  print(d.get(i))

{1: 'one', 2: 'two', 3: 'three', 4: 'four', 6: 'six', 7: 'seven', 8: 'eight', 9: 'nine', 10: 'ten', 11: 'eleven', 12: 'twelve', 13: 'thirteen', 14: 'fourteen'}

{6: 'six', 7: 'seven', 8: 'eight', 9: 'nine', 10: 'ten', 11: 'eleven', 12: 'twelve', 13: 'thirteen', 14: 'fourteen', 2: 2}

one
two
three
four
None
six
seven
eight
nine
ten
eleven
twelve
thirteen
fourteen
None

In [52]:
print(d[200])

TypeError: ignored

In [75]:
#get()

print(d.get(200))
print()
print(d.get(100,'key is not present'))
print()
value=125
print(d.get(value,'no data'))
print()
print(d.get(2))

None

key is not present

no data

two

In [80]:
d1={6:'six',7:'seven',8:'eight',9:'nine',10:'ten',11:'eleven',12:'twelve',13:'thirteen',14:'fourteen',15:'fifteen'}
d.update(d1,sep='\n')
print(d)
print()
for i in l:
  print(d.get(i))

{1: 'one', 2: 'two', 3: 'three', 4: 'four', 6: 'six', 7: 'seven', 8: 'eight', 9: 'nine', 10: 'ten', 11: 'eleven', 12: 'twelve', 13: 'thirteen', 14: 'fourteen', 15: 'fifteen', 'sep': '\n'}

one
two
three
four
None
six
seven
eight
nine
ten
eleven
twelve
thirteen
fourteen
fifteen

In [72]:
#fromkey
l=[1,2,3,4]
dt=dict.fromkeys(l,'nayak')
print(dt)
print()
dt=dict.fromkeys(range(5),'rahul')
print(dt)
print()
dt=dict.fromkeys(dt,'rahul')
print(dt)

{1: 'nayak', 2: 'nayak', 3: 'nayak', 4: 'nayak'}

{0: 'rahul', 1: 'rahul', 2: 'rahul', 3: 'rahul', 4: 'rahul'}

{0: 'rahul', 1: 'rahul', 2: 'rahul', 3: 'rahul', 4: 'rahul'}

In [86]:
s='1241111455471115645487'
print(len(s))
print(s.count('11'[0:]))

22
3

In [97]:
dt=dict.fromkeys('rahul','nayak')
print(dt)

{'r': 'nayak', 'a': 'nayak', 'h': 'nayak', 'u': 'nayak', 'l': 'nayak'}

In [98]:
l=[271,389,234,576,865,291]
d={}
for i in l:
  rev=0
  while i:
    rem=i%10
    rev=rev*10+rem
    i=i//10
  else:
    d[i]=rev
else:
  print(d)

{0: 192}

In [99]:
l=[271,389,234,576,865,291]
d={}
for i in l:
  original_value=i
  rev=0
  while i:
    rem=i%10
    rev=rev*10+rem
    i=i//10
  else:
    d[original_value]=rev
else:
  print(d)

{271: 172, 389: 983, 234: 432, 576: 675, 865: 568, 291: 192}

In [105]:
l=[[100,'raju',8328639398,'gugulothraju666@gmail.com'],
   [101,'venu',7997227578,'venuwonder@gmail.com'],
   [102,'rehaman',4875478,'rehaman143@gmail.com'],
   [103,'dikshith',325468,'dikdhithloverboy@gmail.com'],
   [104,'murali',125478,'muralilovefailuer@gmail.com'],
   [143,'lakshman',354484,'laksham143143@gmail.com']]
d={}
for lst in l:
  d[lst[0]]=lst[1:]
else:
  for key,value in d.items():
    print(key,value,sep='===>')

100===>['raju', 8328639398, 'gugulothraju666@gmail.com']
101===>['venu', 7997227578, 'venuwonder@gmail.com']
102===>['rehaman', 4875478, 'rehaman143@gmail.com']
103===>['dikshith', 325468, 'dikdhithloverboy@gmail.com']
104===>['murali', 125478, 'muralilovefailuer@gmail.com']
143===>['lakshman', 354484, 'laksham143143@gmail.com']

In [108]:
id=100
print(d[id])
id=101
print(d[id])
id=102
print(d[id])
id=103
print(d[id])
id=104
print(d[id])
id=143
print(d[id])

['raju', 8328639398, 'gugulothraju666@gmail.com']
['venu', 7997227578, 'venuwonder@gmail.com']
['rehaman', 4875478, 'rehaman143@gmail.com']
['dikshith', 325468, 'dikdhithloverboy@gmail.com']
['murali', 125478, 'muralilovefailuer@gmail.com']
['lakshman', 354484, 'laksham143143@gmail.com']

In [122]:
l=[[100,'raju',8328639398,'gugulothraju666@gmail.com'],
   [101,'venu',7997227578,'venuwonder@gmail.com'],
   [102,'rehaman',4875478,'rehaman143@gmail.com'],
   [103,'dikshith',325468,'dikdhithloverboy@gmail.com'],
   [104,'murali',125478,'muralilovefailuer@gmail.com'],
   [143,'lakshman',354484,'laksham143143@gmail.com']]
d={}
for lst in l:
  d[lst[0]]={'name':lst[1],'mobile number':lst[2],'email id':lst[3]}
else:
  for key,value in d.items():
    print(key,value,sep='===>') 



print()

ids = [100,101,102,103,104,143]
for i in ids:
  print(d[id]['name'])

100===>{'name': 'raju', 'mobile number': 8328639398, 'email id': 'gugulothraju666@gmail.com'}
101===>{'name': 'venu', 'mobile number': 7997227578, 'email id': 'venuwonder@gmail.com'}
102===>{'name': 'rehaman', 'mobile number': 4875478, 'email id': 'rehaman143@gmail.com'}
103===>{'name': 'dikshith', 'mobile number': 325468, 'email id': 'dikdhithloverboy@gmail.com'}
104===>{'name': 'murali', 'mobile number': 125478, 'email id': 'muralilovefailuer@gmail.com'}
143===>{'name': 'lakshman', 'mobile number': 354484, 'email id': 'laksham143143@gmail.com'}

TypeError: ignored

In [128]:
ids=[143,100]
print(d[id]['name'])
print()
print(d[id]['name'],d[id]['mobile number'],d[id]['email id'])

lakshman

lakshman 354484 laksham143143@gmail.com

In [134]:
ids = [100,101,102,103,104,143]
for i in ids:
  print(d[i]['name'])

print()
ids = [100,101,102,103,104,143]
for i in ids:
  print(d[i]['name'],d[i]['mobile number'],d[i]['email id'],sep='=========>')

raju
venu
rehaman
dikshith
murali
lakshman

raju=========>8328639398=========>gugulothraju666@gmail.com
venu=========>7997227578=========>venuwonder@gmail.com
rehaman=========>4875478=========>rehaman143@gmail.com
dikshith=========>325468=========>dikdhithloverboy@gmail.com
murali=========>125478=========>muralilovefailuer@gmail.com
lakshman=========>354484=========>laksham143143@gmail.com

In [141]:
#comprehensive function
d={1:10, 2:20, 3:30, 4:40, 5:50, 6:60}
print(d.pop(1))
print(d.pop(2))
print(d.pop(3))
print(d.pop(4))
print(d.pop(5))

10
20
30
40
50

In [142]:
print(d)

{6: 60}

In [143]:
print(d.popitem())

(6, 60)

In [145]:
d={1:10, 2:20, 3:30, 4:40, 5:50, 6:60}
print(d.popitem())

(6, 60)

In [148]:
print(d.popitem())

(4, 40)

In [149]:
print(d.popitem())
print(d.popitem())
print(d.popitem())

(3, 30)
(2, 20)
(1, 10)

In [151]:
print(d)

{}

In [154]:
l=[]
for i in range(1,6):
  l.append(i)
else:
  print(l)

print()

l=[i for i in range(1,6)] 
print(l)

[1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

In [162]:
s='python'
l=[]
for i in s:
  l.append(i)
else:
  print(l)

print()    

l=[i for i in s]
print(l)

print()

s=['python']
l=[]
for i in s:
  l.append(i)
else:
  print(l)

print()    

l=[i for i in s]
print(l)

print()


l=[]
for i in 'python':
  l.append(i)
else:
  print(l)

print()    

l=[i for i in 'python']
print(l)

print()


l=[]
for i in ['python']:
  l.append(i)
else:
  print(l)

print()    

l=[i for i in ['python']]
print(l)

['p', 'y', 't', 'h', 'o', 'n']

['p', 'y', 't', 'h', 'o', 'n']

['python']

['python']

['p', 'y', 't', 'h', 'o', 'n']

['p', 'y', 't', 'h', 'o', 'n']

['python']

['python']

In [165]:
l={2,3,5,7,10,25,89,73,65,45}
l=[i for i in l]
print(l)
print()
l=[2,3,5,7,10,25,89,73,65,45]
l={i for i in l}
print(l)

[89, 65, 2, 3, 5, 7, 73, 10, 45, 25]

{89, 65, 2, 3, 5, 7, 73, 10, 45, 25}

In [189]:
d={1:10, 2:20, 3:30, 4:40, 5:50}
l=[[i,d[i]] for i in d]
print(l)

[[1, 10], [2, 20], [3, 30], [4, 40], [5, 50]]

In [202]:
l=[i for i in range(1,20) if i%2==0]
print(l)
print()
l=[]
for i in range(1,20):
  if i%2==0:
    l.append(i)
print(l,end=' ')
print()
print()
l=[i for i in range(1,20) if i%2!=0]
print(l)

print()
l=[]
for i in range(1,20):
  if i%2!=0:
    l.append(i)
print(l,end=' ')

[2, 4, 6, 8, 10, 12, 14, 16, 18]

[2, 4, 6, 8, 10, 12, 14, 16, 18]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [269]:
#1111
lst=[]
for i in range(4):
    print(1,end=' ')


print()
print()
l=[1 for i in range(4)]
print(l)

1 1 1 1

[1, 1, 1, 1]

In [280]:
for i in range(4):
  print([i],end=' ')
print()
print()
l=[[i] for i in range(4)]
print(l)

l=[i for i in range(1)]
print(l)
l=[i for i in range(2)]
print(l)
l=[i for i in range(3)]
print(l)
l=[i for i in range(4)]
print(l)

[0] [1] [2] [3]

[[0], [1], [2], [3]]
[0]
[0, 1]
[0, 1, 2]
[0, 1, 2, 3]

In [259]:
l=[]
for i in range(4):
  l.append(i)
  print(l,end='')
print()
print()
l=[]
for i in range(4):
  temp_l=[]
  for j in range(i+1):
    temp_l.append(j)
  else:  
    l.append(temp_l)
else:
  print(l)    
print()
print()
l=[[j for j in range(i+1)] for i in range(4)]
print(l)

[0][0, 1][0, 1, 2][0, 1, 2, 3]

[[0], [0, 1], [0, 1, 2], [0, 1, 2, 3]]


[[0], [0, 1], [0, 1, 2], [0, 1, 2, 3]]

In [270]:
l=[i**2 for i in range(10)]
print(l)
print()
for i in range(10):
  print(i**2, end=' ')

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

0 1 4 9 16 25 36 49 64 81

In [284]:
l=[]
for i in range(4):
  if i%2!=0:
    continue
  temp_l=[]
  for j in range(i+1):
    temp_l.append(j)
  else:
    l.append(temp_l)
else:
  print(l)     

print()

l=[[j for j in range(i)] for i in range(4) if i%2!=0]
print(l)

[[0], [0, 1, 2]]

[[0], [0, 1, 2]]

In [303]:
l=[]
for i in range(1,11):
  temp_str='{} * {} = {}'.format(5,i,5*i)
  l.append(temp_str)
else: 
  for i in l:
    print(i)

print()
print()


for i in range(1,11):
  temp_str='{} * {} = {}'.format(5,i,5*i)
  print(temp_str)

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50


5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [344]:
l=[]
for i in range(2):
  for j in  range(2):
    for k in range(2):
      temp_lst=[i,j,k]
      l.append(temp_lst)
else:
  print(l)      

print()
print()
l=[[k,j,i] for k in range(2) for j in range(2) for i in range(2)]
print(l)

[[0, 0, 0], [0, 0, 1], [0, 1, 0], [0, 1, 1], [1, 0, 0], [1, 0, 1], [1, 1, 0], [1, 1, 1]]


[[0, 0, 0], [0, 0, 1], [0, 1, 0], [0, 1, 1], [1, 0, 0], [1, 0, 1], [1, 1, 0], [1, 1, 1]]

In [347]:
#[[1, 0, 0], [1, 0, 1], [1, 1, 0], [1, 1, 1]]

l=[]
for i in range(1,2):
  for j in  range(2):
    for k in range(2):
      temp_lst=[i,j,k]
      l.append(temp_lst)
else:
  print(l) 
print()
print()

l=[[k,j,i] for k in range(1,2) for j in range(2) for i in range(2)]
print(l)

[[1, 0, 0], [1, 0, 1], [1, 1, 0], [1, 1, 1]]


[[1, 0, 0], [1, 0, 1], [1, 1, 0], [1, 1, 1]]