<a href="https://colab.research.google.com/github/gugulothraju/gugulothraju/blob/main/atm_money_transaction_07_10_2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
s='raju nayak'
for  index,value in enumerate(s):
   if index%2==0:
     print(value.upper(), end=' ')
   else:
     print(value, end='  ')

R a  J u    n  A y  A k

In [205]:
for  i in range(10):
   if i%2==0:
     print(i, end=' ')
   else:
     print(i)

0 1
2 3
4 5
6 7
8 9

In [204]:
s='raju%%$$^%$123214632nayak'
t=''
for i in s:
  if i.isdigit()==True:
    t=t+i
for  index,value in enumerate(s):
   if index%2==0:
     print(value.upper(), end=' ')
   else:
     print(value, end='  ')

R a  J u  % %  $ $  ^ %  $ 1  2 3  2 1  4 6  3 2  N a  Y a  K

In [ ]:
for i in range(6):
  for j in range(i):
     if i%2!=0:
         print()
         print(i, end=' ')  


         
             
     else:  
         print(j,end=' ') 
  print()

In [ ]:
s='raju%%$$^%$123214632nayak'
t=''
for i in s:
  if i.isalpha()==True:
    t=t+i
for  index,value in enumerate(t):
   if index%2==0:
     print(value.upper(), end=' ')
   else:
     print(value, end='  ')

R a  J u  N a  Y a  K

In [ ]:
s='raju%%$$^%$123214632nayak'
t=''
for i in s:
  if i.isalpha()==True:
    t=t+i
    print(i, end=' ')

r a j u n a y a k

In [ ]:
s='raju123rahul%%$$^%$123214632nayak'
t=''
for i in s:
  if i.isalpha()==True:
     t=t+i   

for  index,value in enumerate(t):
  if index%2==0:
     print(value.upper(), end='')
  else:
     print(value, end='')

RaJuNaYaK

In [ ]:
s='raju123rahul$^%^#@#$$#%$#^nayak'
t=''
for i in s:
  if i.isalpha()==True:
    t=t+i
else:  
   for  index,value in enumerate(t):
      if index%2==0:
        print(value.upper(), end='')
      else:
        print(value, end='')

RaJuRaHuLnAyAk

In [ ]:
amount=9999

if amount>=100:
  print(amount//100,'100s')
  amount=amount%100
if amount>=50:
  print(amount//50,'50s')
  amount=amount%50
if amount>=20:
  print(amount//20,'20s')
  amount=amount%20
if amount>=10:
  print(amount//10,'10s')
  amount=amount%10

99 100s
1 50s
2 20s

In [ ]:
amount=942
count_100=0
count_50=0
count_20=0
count_10=0

if amount>=100:
  count_100=amount//100
  amount=amount % 100
if amount>=50:
  count_50=amount//50
  amount=amount%50
if amount>=20:
  count_20=amount//20
  amount=amount%20
if amount>=10:
  count_10=amount//10
  amount=amount%10  

print(count_100,'100s')  
print(count_50,'50s')  
print(count_20,'20s')  
print(count_10,'10s')

9 100s
0 50s
2 20s
0 10s

In [ ]:
amount=input('enter amount :')
amount=int(int(amount))
count_100=0
count_50=0
count_20=0
count_10=0

if amount>=100:
  count_100=amount//100
  amount=amount % 100
if amount>=50:
  count_50=amount//50
  amount=amount%50
if amount>=20:
  count_20=amount//20
  amount=amount%20
if amount>=10:
  count_10=amount//10
  amount=amount%10  

print(count_100,'100s')  
print(count_50,'50s')  
print(count_20,'20s')  
print(count_10,'10s')

enter amount :-100
0 100s
0 50s
0 20s
0 10s

In [ ]:
amount=input('enter amount :')

count_100=0
count_50=0
count_20=0
count_10=0
if amount.isdigit()==True:
 amount=int(int(amount))
 if amount>=100:
    count_100=amount//100
    amount=amount % 100
 if amount>=50:
    count_50=amount//50
    amount=amount%50
 if amount>=20:
    count_20=amount//20
    amount=amount%20
 if amount>=10:
    count_10=amount//10
    amount=amount%10  

 print(count_100,'100s')  
 print(count_50,'50s')  
 print(count_20,'20s')  
 print(count_10,'10s')  

else:
  print('invalid input')

enter amount :889754
8897 100s
1 50s
0 20s
0 10s

In [ ]:
amount=input('enter amount :')

count_200=0
count_500=0
count_100=0
count_50=0
count_20=0
count_10=0
if amount.isdigit()==True:
 amount=int(int(amount))
 if amount>=2000:
    count_2000=amount//2000
    amount=amount % 2000
 if amount>=500:
    count_500=amount//500
    amount=amount % 500
 if amount>=100:
    count_100=amount//100
    amount=amount % 100
 if amount>=50:
    count_50=amount//50
    amount=amount%50
 if amount>=20:
    count_20=amount//20
    amount=amount%20
 if amount>=10:
    count_10=amount//10
    amount=amount%10  


 print(count_2000,'200s')   
 print(count_500,'500s')
 print(count_100,'100s')  
 print(count_50,'50s')  
 print(count_20,'20s')  
 print(count_10,'10s')
 print(amount,'5 rupees coins')  
 print(amount,'2 rupees coins')
 print(amount, '1 rupees coins')

else:
  print('invalid input')

enter amount :9182804349
4591402 200s
0 500s
3 100s
0 50s
2 20s
0 10s
9 5 rupees coins
9 2 rupees coins
9 1 rupees coins

In [185]:
amount=input('enter amount :')

count_2000=0
count_500=0
count_200=0
count_100=0
count_50=0
count_20=0
count_10=0
status_2000 =True
status_500  =True
status_200  =True
status_100  =True
status_50   =True
status_20   =True
status_10   =True
if amount.isdigit()==True:
 amount=int(int(amount))
 if amount>=2000 and status_2000 :
    count_2000=amount//2000
    amount=amount % 2000
 if amount>=500 and status_500 :
    count_500=amount//500
    amount=amount % 500
 if amount>=200 and status_200 :
    count_200=amount//200
    amount=amount % 200    
 if amount>=100 and status_100 :
    count_100=amount//100


    
    amount=amount % 100
 if amount>=50 and status_50 :
    count_50=amount//50
    amount=amount%50
 if amount>=20 and status_20 :
    count_20=amount//20
    amount=amount%20
 if amount>=10 and status_10 :
    count_10=amount//10
    amount=amount%10  


 print(count_2000,'2000s')   
 print(count_500,'500s')
 print(count_200,'200s')  
 print(count_100,'100s')  
 print(count_50,'50s')  
 print(count_20,'20s')  
 print(count_10,'10s')
 print(amount,'5 rupees coins')  
 print(amount,'2 rupees coins') 
 print(amount,'1 rupees coins') 
else:
  print('invalid input')

enter amount :99999
49 2000s
3 500s
2 200s
0 100s
1 50s
2 20s
0 10s
9 5 rupees coins
9 2 rupees coins
9 1 rupees coins

In [187]:
for i in range(10):
 pass
else:
  print(i)

9

In [194]:
s='raju'
print(s.count(''))

5

In [195]:
s='raju'
print(s.count('  '))

0