<a href="https://colab.research.google.com/github/gugulothraju/gugulothraju/blob/main/Copy_of_sting_fn%2C_loops_%2C_if_else%2C_elif%2C_range_%2C_continue%2C_break_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

range, continue, break

In [ ]:
for a in 'raju Nayak' :
 print(a, end='')

raju Nayak

In [ ]:
s=input('enter str value:')
for a in s:
  print(a, end='')

enter str value:arafkashdfa
arafkashdfa

In [ ]:
s=input('enter string value:')
for a in s:
  print('pyhon')
  print('django')

enter string value:raju
pyhon
django
pyhon
django
pyhon
django
pyhon
django

In [ ]:
s=input('enter string value:')
for a in s:
  print('pyhon')
  print('django')
  continue

enter string value:rahul
pyhon
django
pyhon
django
pyhon
django
pyhon
django
pyhon
django

In [ ]:
s=input('enter string value:')
for a in s:
  print('pyhon')
  continue
  print('django')

enter string value:rahu
pyhon
pyhon
pyhon
pyhon

In [ ]:
s=input('enter string value:')
for a in s:
  continue
  print('pyhon')
  print('django')

enter string value:rahul

In [ ]:
s=input('enter string value:')
for a in s:
  if a not in 'aeiouAEIOU':
    print(a, end='')

enter string value:rahul nrayak
rhl nryk

In [ ]:
s=input('enter string value:')
for a in s:
  if a in 'aeiouAEIOU':
    continue
    print(a, end='')

enter string value:rahul nayak

In [ ]:
s=input('enter str value"')
for a in s:
  if a in 'aeiouAEIO':
    print(a, end='')
    continue

enter str value"rahul nayak
auaa

In [ ]:
s='Rahul Nayak'
for a in s:
  if a in 'aeiouAEIOU':
   print(a, 'continue')
  print(a)

R
a continue
a
h
u continue
u
l

N
a continue
a
y
a continue
a
k

In [ ]:

s='rahul nayak'
for a in s:
  if a in 'aeiouAEIOU':
    print(a.title(),'continue')
    continue
  print(a)

r
A continue
h
U continue
l

n
A continue
y
A continue
k

In [ ]:
s=input('enter string value:')
v=''
c=''
for a in s:
  if a in 'aeiouAEIOU':
    v=v+a
    continue
  c=c+a

print(v.upper(), len(v), sep='====>')
print(c.upper(), len(c), sep='====>')

enter string value:rahul nayak
AUAA====>4
RHL NYK====>7

In [ ]:
s=input('enter str alue:')
v=''
c=''
for a in s:
  if a in 'aeiouAEIOU':
    v=v+a
    continue
  c=c+a

print(v.upper(), end='  ')
print(c.upper())
print(len(v),len(c), sep='       ')

enter str alue:rahul nayak
AUAA  RHL NYK
4       7

In [ ]:
s=input('enter values:')
for a in s:
  print('ptyhon')

enter values:12341
ptyhon
ptyhon
ptyhon
ptyhon
ptyhon

In [ ]:
s=input('enter the values:')
for i in s:
  print('rahul')
  continue
  print('nayak')

enter the values:52455
rahul
rahul
rahul
rahul
rahul

In [ ]:
for i in range(1,11):
  print(i,end='')

12345678910

In [ ]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(10):
  print(i, end="")
for i in range(10):
    print(i) 
for i in range(10):
  print(i, end='')

01234567890
1
2
3
4
5
6
7
8
9
0123456789

In [ ]:
for i in range(1,10,-1):
  print(i)

In [ ]:
for i in range(1,10,1):
  print(i, end='')

123456789

In [ ]:
for i in range(10,1,-1):
  print(i, end='')

1098765432

In [ ]:
for a in range(10,0,-1):
  print(a, end='')

10987654321

In [ ]:
for i in range(9,0,-1):
  print(i, end='') 
for i in range(9,1,-1):
  print(i, sep='  ')

9876543219
8
7
6
5
4
3
2

In [ ]:
s='pyhon'
for a in range(len(s)):
  print(a,s[a])

0 p
1 y
2 h
3 o
4 n

In [ ]:
s='pyhon'
for a in range(len(s)):
  print(a,s[a])

0 p
1 y
2 h
3 o
4 n

In [ ]:
s='pyhon'
for a in range(len(s[0:4])):
  print(a,s[a])

0 p
1 y
2 h
3 o

In [ ]:
s='rajunaik'
for a in range(len(s)):
  if s[a] not in 'aeiouAEIOU':
    print(a)

0
2
4
7

In [ ]:
s='rajunaik'
for a in range(len(s)):
  if s[a] not in 'aeiouAEIOU':
    print(a, s[a], sep='===>')
    continue

0===>r
2===>j
4===>n
7===>k

In [ ]:
s='rajunaik'
for a in range(len(s)):
  if s[a] not in 'aeiouAEIOU':
    continue
    print(a)

In [ ]:
s='rajunaik'
for a in range(len(s)):
  if s[a] not in 'aeiouAEIOU':
    break
    print(a)

In [ ]:
s='rajunUik'
for a in s:
  if a.isupper()==True:
    break
  print(a, end='')
else:
    print()

rajun

In [ ]:
s='rajUnaik'
for a in s:
  if a.isupper()==True:
    print(a, len(s), sep='===>')
    break
  else:
    print()

U===>8

In [ ]:
s='raUnaik'
for a in s:
  if a.isupper()==True:
    print(a, len(a), sep='===>')
    break
  else:
    print()

U===>1

In [ ]:
s='rajunAik'
for i in s:
  if i.isupper()==True:
     break
  print(i, end='')

rajun

In [ ]:
s='python'
for i in s:
  if i.isupper()==False:
    print(i, end='')
  else:
    print()
    print('for loop  executed successfully!!!')

python

In [ ]:
s='python'
for i in s:
  if i.isupper()==True:
    print(i, end='')
  else:
    print()
    print('for loop  executed successfully!!!')

for loop  executed successfully!!!

for loop  executed successfully!!!

for loop  executed successfully!!!

for loop  executed successfully!!!

for loop  executed successfully!!!

for loop  executed successfully!!!

In [ ]:
s='pytHon'
for i in s:
  if i.isupper()==True:
    break
  print(i, end='')

pyt

In [ ]:
s='pytHon'
for i in s:
  if i.isupper()==True:
   print(i, end='')
   break

H

In [14]:
s='python'
count=''
for i in s:
  if i.isupper()==True:
    count=count-11
    if count<len(s):
      print(s[-6::1])
      break
else:
  print(s)

python

In [ ]:
s='python'
count=0
for i in s:
  if i.islower()==True:
    count=count+1
    if count<1:
      print(s[:4:-1])
      break
else:
 print(s) 
 print(len(s))

python
6

In [ ]:
s='pyThon'
count=0
for i in s:
  if i.islower()==True:
    count=count+1
    if count<1:
      break
      print(s[::-1])
else:
 print(i) 
 print(len(s))

n
6

In [ ]:
s=int(input('enter int values:'))
for i in range(s):
  print('5*',i,'=',5*i)
print(s)

enter int values:9
5* 0 = 0
5* 1 = 5
5* 2 = 10
5* 3 = 15
5* 4 = 20
5* 5 = 25
5* 6 = 30
5* 7 = 35
5* 8 = 40
9

In [ ]:
start_value=int(input('enter start_values:'))
stop_value=int(input('enter stop_value:'))
stop_value +=1
for i in range(start_value, stop_value):
  print('5*',i,'=',5*i)

enter start_values:10
enter stop_value:20
5* 10 = 50
5* 11 = 55
5* 12 = 60
5* 13 = 65
5* 14 = 70
5* 15 = 75
5* 16 = 80
5* 17 = 85
5* 18 = 90
5* 19 = 95
5* 20 = 100

In [ ]:
s=int(input('enter srt values:'))
s1=int(input("enter stp values:"))
s1 +=1
for i in range(s,s1):
  print('17',i,'=',17*i)

enter srt values:1
enter stp values:10
17 1 = 17
17 2 = 34
17 3 = 51
17 4 = 68
17 5 = 85
17 6 = 102
17 7 = 119
17 8 = 136
17 9 = 153
17 10 = 170

In [ ]:
t=int(input('enter t values:'))
s=int(input('enter srt values:'))
s1=int(input("enter stp values:"))
s1 +=1
for i in range(s,s1):
  print(t,'*',i,'=',t*i)

enter t values:10
enter srt values:1
enter stp values:10
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [ ]:
g=20
s=1
s1=10
s1 +=1
for i in range(s,s1):
  print(g,'*',i,'=',g*i)

20 * 1 = 20
20 * 2 = 40
20 * 3 = 60
20 * 4 = 80
20 * 5 = 100
20 * 6 = 120
20 * 7 = 140
20 * 8 = 160
20 * 9 = 180
20 * 10 = 200

In [ ]:
a='ABCD'
s=''
for c in a:
    s =c*2
    print(s,end='')

AABBCCDD

In [ ]:
a='python'
b='123python'
print(a, len(s), sep='====>') 
print('*'*60)
print('*'*60)
print(a.upper())
print('*'*60)
print('*'*60)
print(a.title())
print('*'*60)
print('*'*60)
print(a.capitalize())
print('*'*60)
print('*'*60)   
print(a.isalpha())
print('*'*60)
print('*'*60)
print(a.isalnum())
print('*'*60)
print('*'*60)
print(a[::-1])
print(a[-1::-1])
print('*'*60)
print('*'*60)
print(b.isalnum())
print(b[3:9])
print(b[9:2:-1])
print('*'*60)
print(a,b)
print(a.upper(),b.capitalize())
print(a.split('p'))
print(b.split('123py',1))
print('*'*60)

python====>6
************************************************************
************************************************************
PYTHON
************************************************************
************************************************************
Python
************************************************************
************************************************************
Python
************************************************************
************************************************************
True
************************************************************
************************************************************
True
************************************************************
************************************************************
nohtyp
nohtyp
************************************************************
************************************************************
True
python
nohtyp
************************************************************
python 123python
PYTHON 123python
['', 'ython']
['', 'thon']
************************************************************

In [ ]:
c='raju nayak'
v=''
d=''
for i in c:
  if i in 'aeiouAEIOU':
    v=v+i
    continue
  d=d+i

In [ ]:
a='python'
s=''
for c in a:
    s=c*2
    print(s,len(s), sep='===> ')
print(a,len(a), sep='====>')

pp===> 2
yy===> 2
tt===> 2
hh===> 2
oo===> 2
nn===> 2
python====>6

In [ ]:
a='ABCD'
s=''
for c in a:
    s+=c*2
    print(s,end='===>')
    print(len(s), sep='===>')

AA===>2
AABB===>4
AABBCC===>6
AABBCCDD===>8

In [4]:
s='''Love all,trust a few, 
do wrong to none'''
s1='''your sincerly
guguloth raju nayak'''
print(s.upper())
for row in range(6):
    for col in range(7):
        if (row==0 and col%3!=0) or (row==1 and col%3==0) or (row-col==2) or (row+col==8):
            print("*", end=" ")
        else:
            print(end="  ") 

    print()   
 
print(s1.upper())

LOVE ALL,TRUST A FEW,
DO WRONG TO NONE
  * *   * *
*     *     *
*           *
  *       *
    *   *
      *
YOUR SINCERLY
GUGULOTH RAJU NAYAK

In [ ]:
c='python'
h='django'
f=''
k=''
for d in c:
    f+=d*1
    print(f)
    continue
print()



for g in h :
   k+=g*1
   print(k)

p
py
pyt
pyth
pytho
python

d
dj
dja
djan
djang
django

In [ ]:
c='raju nayak'
v=''
d=''
for i in c:
  if i in 'aeiouAEIOU':
    v=v+i
    continue
  d=d+i

print(v.upper(), len(v), sep='====>')
print(d.upper(), len(d), sep='====>')

AUAA====>4
RJ NYK====>6

In [ ]:
a1='       python       ' 
print(a1.strip())
print('*'*60)
print(a1.lstrip().upper())
print('*'*60)
print(a1.lstrip().title())
print('*'*60)
print(a1.rstrip().upper())
print('*'*60)

python
************************************************************
PYTHON
************************************************************
Python
************************************************************
       PYTHON
************************************************************

In [ ]:
t=int(input('enter t values:'))
srt=int(input('enter srt values:'))
stp=int(input('enter stp values:'))
stp+=1
for h in range(srt,stp):
   print(t,'*',h,'=',t*h)

enter t values:13
enter srt values:1
enter stp values:10
13 * 1 = 13
13 * 2 = 26
13 * 3 = 39
13 * 4 = 52
13 * 5 = 65
13 * 6 = 78
13 * 7 = 91
13 * 8 = 104
13 * 9 = 117
13 * 10 = 130

In [16]:
a='python'
b='123python'
s1=''
s=''
for c in a:
    s +=c*1
    print(s)
print('*'*60)
print('*'*60)


for c in b:
    s1 +=c*1
    print(s1)
print('*'*40)

p
py
pyt
pyth
pytho
python
************************************************************
************************************************************
1
12
123
123p
123py
123pyt
123pyth
123pytho
123python
****************************************

In [22]:
t=int(input('enter t values:'))
s=int(input('enter srt values:'))
s1=int(input('enter stp values:'))
for i in range(s1,s-1,-1):
  print(t,'*',i,'=',t*i)

enter t values:20
enter srt values:1
enter stp values:10
20 * 10 = 200
20 * 9 = 180
20 * 8 = 160
20 * 7 = 140
20 * 6 = 120
20 * 5 = 100
20 * 4 = 80
20 * 3 = 60
20 * 2 = 40
20 * 1 = 20

In [23]:
g=20
s=1
s1=10
for i in range(s1,s-1,-1):
  print(g,'*',i,'=',g*i)

20 * 10 = 200
20 * 9 = 180
20 * 8 = 160
20 * 7 = 140
20 * 6 = 120
20 * 5 = 100
20 * 4 = 80
20 * 3 = 60
20 * 2 = 40
20 * 1 = 20