<a href="https://colab.research.google.com/github/gugulothraju/gugulothraju/blob/main/loop%2C_nested_loop_6_10_2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
s='good afternoon'
for i in s:
   if i in 'aeiouAEIOU':
     print()
     print(i, end='')
   else:
     print(i, end='')

g
o
od
aft
ern
o
on

In [ ]:
s='python'
for i in s:
  print(i)

p
y
t
h
o
n

In [ ]:
s='python'
v=''
for i in  s:
     v+=i*1
     print(v)

p
py
pyt
pyth
pytho
python

In [ ]:
for i in range(1,6):
   for j in range(1,i+1):
      print(j,end='  ')
   print()

1
1  2
1  2  3
1  2  3  4
1  2  3  4  5

In [ ]:
s='python'
l=len(s)
for i in range(l):
  for j in range (i+1):
   print(s[j], end=' ')
  print()

p
p y
p y t
p y t h
p y t h o
p y t h o n

In [ ]:
s='python'
for i in s:
  print(i)
  del i
  del s

p
y

NameError: ignored

In [ ]:
s='python'
for i in s:
  print(i)
  del i

p
y
t
h
o
n

In [ ]:
for i in range(4):
  for j in range(5):
    print(i, j)
  print()

0 0
0 1
0 2
0 3
0 4

1 0
1 1
1 2
1 3
1 4

2 0
2 1
2 2
2 3
2 4

3 0
3 1
3 2
3 3
3 4

In [ ]:
s='python'
for i in s:
  print(i)
  s='django'

p
y
t
h
o
n

In [ ]:
s='python'
for i in s:
  print(i, end='   ')
  s='django'
  print(s)
print()

p   django
y   django
t   django
h   django
o   django
n   django

In [81]:
s='python'
for i in s:
  print(i, id(i), end='   ')
  s='django'
  print(s, id(s))
print()

p 140042276271792   django 140042247707440
y 140042276010288   django 140042247707440
t 140042277021936   django 140042247707440
h 140042276397552   django 140042247707440
o 140042276398000   django 140042247707440
n 140042276374448   django 140042247707440

In [82]:
table=int(input('enter table number:'))
start_value=int(input('enter start values:'))
stop_value=int(input('enter stop values:'))
stop_value+=2-1
for i in range(start_value,stop_value):
  print(table,'*',i,'=',table*i)

enter table number:10
enter start values:1
enter stop values:10
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [83]:
table=int(input('enter table number:'))
start_value=int(input('enter start values:'))
stop_value=int(input('enter stop values:'))
for i in range(start_value,stop_value):
  print(table,'*',i,'=',table*i)

enter table number:8
enter start values:1
enter stop values:10
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72

In [84]:
table=int(input('enter table number:'))
start_value=int(input('enter start values:'))
stop_value=int(input('enter stop values:'))
for i in range(stop_value, start_value-1,-1):
  print(table,'*',i,'=',table*i)

enter table number:17
enter start values:1
enter stop values:10
17 * 10 = 170
17 * 9 = 153
17 * 8 = 136
17 * 7 = 119
17 * 6 = 102
17 * 5 = 85
17 * 4 = 68
17 * 3 = 51
17 * 2 = 34
17 * 1 = 17

In [62]:
                                                                        table=int(input('enter table number:'))
start_value=int(input('enter start values:'))
stop_value=int(input('enter stop values:'))
stop_value+=1-1
for i in range(stop_value, start_value-1,-1):
  print(table,'*',i,'=',table*i)

enter table number:5
enter start values:1
enter stop values:15
5 * 15 = 75
5 * 14 = 70
5 * 13 = 65
5 * 12 = 60
5 * 11 = 55
5 * 10 = 50
5 * 9 = 45
5 * 8 = 40
5 * 7 = 35
5 * 6 = 30
5 * 5 = 25
5 * 4 = 20
5 * 3 = 15
5 * 2 = 10
5 * 1 = 5

In [ ]:
s='django'
for i in s:
  i=150
  print(i)
print()

150
150
150
150
150
150

In [77]:
s='django'
l=len(s)
for i in range(l):
   for j in range(i+1):
       print(i, end='  ')
   print()

0
1  1
2  2  2
3  3  3  3
4  4  4  4  4
5  5  5  5  5  5

In [78]:
s='django'
for i in s:
  print(i, end='')
  i=150
print()

django