<a href="https://colab.research.google.com/github/gugulothraju/gugulothraju/blob/main/loop_statement_2_10_2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

loop statement
for
if else
while
if else

In [ ]:
s='rahul guguloth'
v=''
c=''
for i in s:
  if i in 'aeiouAEIOU':
    v=v+i
  elif i not in 'aeionAEION':
    c=c+i
else:
  print(v.upper())
  print(c)

AUUUO
rhl gglth

In [ ]:
n=input('enter int value:')
n=int(n)
  if n%2:
    print('weired')
  elif 2<=n<=5:
    print('not weired')  
  elif 6<=n<=20:
    print('weired')
  else:
    print('not weired')

IndentationError: ignored

In [ ]:
s='rahul guguloth'
v=''
c=''
for i in s:
  if i in 'aeiouAEIOU':
    v=v+i
  elif i not in 'aeionAEION':
    c=c+i
else:
  print(v.upper())
  print(c)
print(len(v),len(c), sep='\n')

AUUUO
rhl gglth
5
9

In [ ]:
s='rahul guguloth'
v=0
c=0
for i in s:
  if i in 'aeiouAEIOU':
    print(i.upper(), end='')
    v=v+1
print('\n')
for i in s:   
  if i not in 'aeionAEION':
    print(i, end='')
    c=c+1
print('\n')    
print(v,c, sep='\n')

AUUUO

rhul gugulth

5
12

In [1]:
for i in 'kumar nayak':
    print('python',end='\n')

python
python
python
python
python
python
python
python
python
python
python

In [ ]:
for i in 'jsdahfuyhairjfcbadhfa vkj':
  print(i*10)

jjjjjjjjjj
ssssssssss
dddddddddd
aaaaaaaaaa
hhhhhhhhhh
ffffffffff
uuuuuuuuuu
yyyyyyyyyy
hhhhhhhhhh
aaaaaaaaaa
iiiiiiiiii
rrrrrrrrrr
jjjjjjjjjj
ffffffffff
cccccccccc
bbbbbbbbbb
aaaaaaaaaa
dddddddddd
hhhhhhhhhh
ffffffffff
aaaaaaaaaa

vvvvvvvvvv
kkkkkkkkkk
jjjjjjjjjj

In [ ]:
x=24
if x%2==0:
  print(x)
else:
  print(x)

24

In [ ]:
x=12
if x==0:
  print(x,"is equal 10")
else:
  print(x,"is not eqal 10 ")

12 is not eqal 10

In [ ]:
x=12
if x%2==0:
  print("True")
else:
  print("False")

True

In [ ]:
x=10
if x%2==0:
 pass
else:
  print(x)

In [ ]:
print(True)

True

In [ ]:
print(False)

False

In [ ]:
a=True
print(a,type(a))

True <class 'bool'>

In [ ]:
b=False
print(b,type(b))

False <class 'bool'>

loops
if
else
while
while else

In [ ]:
x=input('enter int value:')
if x.isdigit()==True:
  x=int(x)
  if x==100:
    print(x, 'is equal to 100')
  elif x>100:
    print(x, 'is greater than 100')  
  else:
    print(x, 'is less than 100')

enter int value:10
10 is less than 100

In [ ]:
x=input('enter int value:')
x=int(x)
if x>60:
  print(x,'is greater than 60')
  pass  
else:
  print(x,'is less than 60')

enter int value:100
100 is greater than 60

In [ ]:
x=input('enter int value:')
x=int(x)
if x%2==0:
  print(x,'is True') 
else:
  print(x,'is False')

enter int value:3
3 is False

In [ ]:
x=123
if x==100:
  print(x,'is eqal to 100')
else:
  print(x,'is not equal to 100')

123 is not equal to 100

In [ ]:
s=input('enter value:')
v=0
c=0
for i in s:
  if i in 'aeiouAEIOU':
    print(i.upper(), end='')
    v=v+1
print('\n')
for i in s:   
  if i not in 'aeionAEION':
    print(i, end='')
    c=c+1
print('\n')    
print(v,c, end='')

enter value:laxman
AA

lxm

2 3

In [ ]:
s=input('enter values:')
v=''
u=''
for i in s:
  if i in 'aeiouAEIOU':
    v=v+i
  elif i not in 'aeiouAEIOU':
    u=u+i
else:
  print(v.upper())
  print(u.upper())
  print(len(v),len(u), sep='\n')

enter values:ksjjtrvcgjvwrgfvwctruwqevtvwtv
UE
KSJJTRVCGJVWRGFVWCTRWQVTVWTV
2
28

In [ ]:
s='lakshman'
print(s[::-1])
print(s[-1::-1])
print(s[-1:-len(s)-1:-1])
print(s[:-len(s)-1-1])
print(s[-1-1:-8])
print(s[-1:len(s):-1])
print(s[-1:-len(s)-1:-1])
print(s[:-len(s)-1:-1])
print(s[5::-1])


print(s, id(s), type(s))
print(s, id(s), type(s), sep='   ')
print(s, id(s), type(s), sep=' ')

print(s, id(s), type(s), sep='\n')
print(s[::len(s)-7])

namhskal
namhskal
namhskal



namhskal
namhskal
mhskal
lakshman 140502863146544 <class 'str'>
lakshman   140502863146544   <class 'str'>
lakshman 140502863146544 <class 'str'>
lakshman
140502863146544
<class 'str'>
lakshman

In [ ]:
s='laxman'
print(s[::-1])
print(s[-1::-1])
print(s[-1:-len(s)-1:-1])
print(s[-1:-len(s)-1:-1])
print(s[:-len(s)-1:-1])
print(s[-6::])
print(s[:6:1])
print(s[0:500000])
print(s[:len(s)])
print(s[:6])
print(len(s[0:6]))
print(s[-1::-1])
print(s[::len(s)-5])


print(s[::len(s)-5])

namxal
namxal
namxal
namxal
namxal
laxman
laxman
laxman
laxman
laxman
6
namxal
laxman
laxman

In [ ]:
print(s[-1:-len(s)-1:-1])

namxal

In [ ]:
print(s[::len(s)-5])

laxman

In [ ]:
print(s[:3].upper()+s[3:].lower())

LAXman

SyntaxError: ignored

In [ ]:
s='python'
print(s[-6::])
print(s[0:6])
print(s[:len(s)])
print(s[:6])
print(s[-1:-1:])
print(len(s))
print(s[::len(s)-5])
print(s[-1::-1])

python
python
python
python

6
python
n

In [ ]:
a=10
b=3
c=a+b
d=a-b
e=a/b
f=a%b
g=a//b
h=g//2
print(c, type(c))
print(d, type(d))
print(e, type(e))
print(f, type(f))
print(g, type(g))
print(h)

13 <class 'int'>
7 <class 'int'>
3.3333333333333335 <class 'float'>
1 <class 'int'>
3 <class 'int'>
1

In [ ]:
s=50
if s>60:
  print(s,'is greater 60')
else:
  print(s, 'is less than 60')

50 is less than 60

In [ ]:
x=input('enter int value:')
s=int(x)
if s>60:
  print(s,'is greater 60')
else:
  print(s, 'is less than 60')

enter int value:50
50 is less than 60

In [ ]:
x=input('enter int value:')
if x.isdigit()==True:
  print(x,'is valid number')
  x=int(x)
  if x==50:
    print(x,'is equal to 50')
  else:
    print(x, 'is not equal to 50')
  if x>50:
    print(x,'is greater than 50')
  else:
    print(x,'is less than 50')      
else:
  print(x,'is invalid nuber')

enter int value:100
100 is valid number
100 is not equal to 50
100 is greater than 50

In [ ]:
x=input('enter int value:')
if x.isdigit()==True:
  print(x,'is valid number')
  x=int(x)
  if x==50:
    print(x,'is equal to 50')
  else:
    print(x,'is not equal to 50')  
  if x>50:
    print(x,'is greater than 50') 
  else:
    print(x,'is less than 50')      
else:
  print(x,'is invalid nuber')

enter int value:4000
4000 is valid number
4000 is not equal to 50
4000 is greater than 50

true/1/10<20/10>5/10==10/10!=5/10<=10/10>=10/
False=oppositve above

In [ ]:
if 10!=5:
    print('hello')
    print('sandeep')

hello
sandeep

for 
if 
else

In [ ]:
s='manikanta'
v=''
u=''
for i in s:
  if i in 'abcdACBD':
    v=v+i
  elif i not in 'abcdABCD':
     u=u+i
else:     
     print(v.upper())
     print(u.upper())
print(len(v),len(u))

AAA
MNIKNT
3 6

In [ ]:
s='rahul guguloth'
v=''
c=''
for i in s:
  if i in 'aeiouAEIOU':
    v=v+i
  elif i not in 'aeionAEION':
    c=c+i
else:
  print(v.upper())
  print(c)
print(len(v),len(c), sep='\n')

AUUUO
rhl gglth
5
9

In [ ]:
s='rahul guguloth'
for i in s:
  if i in 'aeiouAEIOU':
    print(i, end='')
for  i in s:
   if i not in 'aeiouAEIOU':
    print(i)

auuuor
h
l

g
g
l
t
h